.cover,
.header {
  height: 100%;
}
.headwrapper {
  transition: margin-left 0.5s;
  padding: 20px;
  height: 100%;
}
.moneyCont {
  position: absolute;
  height: 100%;
  overflow: hidden;
  width: 100%;
}
.moneyshot {
  height: 100%;
  transition: ease-in 1s;
}
.moneyprint {
  mix-blend-mode: difference;
  color: whitesmoke;
}
.moneyspace {
  height: 43%;
}
